
<h1><%= movie.Title %>
  <small><%= movie.Year %></small>
</h1>

<a href="<%= '/movies/?q=' + q %>" class="btn btn-primary">&larr; Back to Search</a>

<div class="well">
  <p><%= movie.Plot %></p>
  <form action='/getFavs' method='POST'>
  	<button type="submit" id="favButton">Add to Favs!</button>
  	<input type='hidden' name='imbd_id' value='<%= movie.imdbID%>'>
  	<input type='hidden' name='title' value='<%= movie.Title%>'>
  	<input type='hidden' name='year' value='<%= movie.Year%>'>
  </form>
</div>

