<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1><%= deets.Title %></h1>

<p>Year: <%= deets.Year %> Rating <% deets.Rating %></p>

<p><%= deets.RunTime %> </p>

<p>Director:  <%= deets.Director %> Writer: <%= deets.Writer %></p>


<p>Starring<%= deets.Starring %></p>

<p>Starring<%= deets.Starring %></p>