<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>



         
    <h2><%= movie.Title %> </h2>
    <h4><%= movie.Year %></h4>
    <h4><%= movie.Rated %></h4>
    <h4><%= movie.Runtime %></h4>
    <h4><%= movie.Genre %></h4>
    <h4><%= movie.Actors %></h4>
    <h4><%= movie.Plot %></h4>
    <h4><%= movie.imdbRating %></h4>
    <img src="<%=movie.Poster%>" alt="" style="width:300px">
    
    

    <br>
    
    <hr>