<% // Render your movie details  here %>
<% // This is how to do comments in EJS, by the way... %>



<h4>Movie Name: <%= results.Title %></h4>
<img src="<%= results.Poster %>" alt="">
<p>Year: <%= results.Year %></p>
<p>Rated: <%= results.Rated %></p>
<p>Released: <%= results.Released %></p>
<p>Runtime: <%= results.Runtime %></p>
<p>Genre: <%= results.Genre %></p>
<p>Director: <%= results.Director %></p>
<p>Writers: <%= results.Writer %></p>
<p>Actors: <%= results.Actors %></p>
<p>Plot: <%= results.Plot %></p>
<p>Language: <%= results.Language %></p>
<p>Country: <%= results.Country %></p>
<p>Awards: <%= results.Awards %></p>
<p>BoxOffice: <%= results.BoxOffice %></p>
<p>imdbID: <%= results.imdbID %></p>