<h1 id="detail-title"><%= result.Title %></h1>
<div id="basic-info">
    <p class="basic-info-detail">
        <%= result.Rated %>
    </p>
    <p class="basic-info-detail">
        <%= result.Runtime %>
    </p>
    <p class="basic-info-detail">
        <%= result.Genre %>
    </p>
    <p class="basic-info-detail">
        <%= result.Released %>
    </p>
</div>
<ul>
    <img src="<%=result.Poster%>"/>
    <div class="star-rating">
        <a>imdbRating:</a> <%= result.imdbRating %>/10
        <li>
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
        </li>
    </div>
    <div class="star-rating">
        <a>Metascore:</a> <%= result.Metascore %>/100
        <li>
            <div class="stars-outer-meta">
                <div class="stars-inner-meta"></div>
            </div>
        </li>
    </div>
    <h3><%= result.Awards %></h3>
    <div class="detail-box">
        <li class="detail-item">
            <a>Plot:</a> <%= result.Plot %>
        </li>
        <hr>
        <li class="detail-item">
            <a>Director:</a> <%= result.Director %>
        </li>
        <li class="detail-item">
            <a>Writers:</a> <%= result.Writer %>
        </li>
        <li class="detail-item">
            <a>Cast:</a> <%= result.Actors %>
        </li>
        <li class="detail-item">
            <a>Language:</a> <%= result.Language %>
        </li>
        <li class="detail-item">
            <a>Country:</a> <%= result.Country %>
        </li>
        <hr>
        <li class="detail-item">
            <a>Ratings:</a> 
            <% result.Ratings.forEach((e) => { %>
                <li class="source-item">
                    <%= e.Source %>
                </li>
                <li>
                    <%= e.Value %>
                </li>
            <% }) %>
        </li>
        <hr>
        <li class="detail-item">
            <a>imdbVotes:</a> <%= result.imdbVotes %>
        </li>
        <li class="detail-item">
            <a>imdbID:</a> <%= result.imdbID %>
        </li>
        <li class="detail-item">
            <a>DVD:</a> <%= result.DVD %>
        </li>
        <li class="detail-item">
            <a>Box Office:</a> <%= result.BoxOffice %>
        </li>
        <li class="detail-item">
            <a>Production:</a> <%= result.Production %>
        </li>
    </div>
</ul>
<script>
    const starRating = <%= result.imdbRating %>
    const starPercentage = Math.round((starRating/10)*100)
    document.querySelector(".stars-inner").style.width = `${starPercentage}%`

    const metaRating = <%= result.Metascore %>
    document.querySelector(".stars-inner-meta").style.width = `${metaRating}%`
</script>
