<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h3> <%= details.Title %> </h3>
<img src="<%= details.Poster %>">
<h4><%= details.Year %> | <%= details.Genre %> | <%= details.imdbRating %></h4>
<h4> </h4>
<h4> <%= details.Plot %> </h4>
