<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h2>Movies Details </h2>
<h4>Movies Title: <%= movies.Title %> </h4>
<img src="<%= movies.Poster %> " >
<p>Movies Year: <%= movies.Year %> </p>
<p>Movies Released: <%= movies.Released %> </p>
<p>Movies Genre: <%= movies.Genre%> </p>
<p>Movies Director: <%= movies.Director %> </p>
<p>Movies Writer: <%= movies.Writer %> </p>
<p>Movies Actors: <%= movies.Actors%> </p>

<form method="POST" action="/faves">
    <input type="hidden" name="title" id="title" value="<%=movies.Title  %>">
    <input type="hidden" name="imdbid" id="imdbid" value="<%=movies.imdbID  %> ">

    <button type="submit">My Favorite</button>
    

</form>






