<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<div>
    <h2><%= data.Title %></h2>
    <p>(<%= data.Year %>)</p>
      <img src="<%=data.Poster%>" alt="">
    <p class="plot"><%= data.Plot %> </p>
    <h4>Awards: <%= data.Awards %> </h4>
    <%=data.Ratings[0].value %> 
</div>