<h1>(<%= details.Year %>) <%= details.Title %></h1>
<div>
  <p><%= details.Rated %></p>
  <p><%= details.Genre %></p>
  <p><%= details.Actors %></p>
  <p><%= details.Plot %></p>
</div>

  <!-- Year: '2005–',
  Rated: 'TV-Y7',
  Released: '01 Jan 2005',
  Runtime: '30 min',
  Genre: 'Animation, Comedy, Sci-Fi',
  Director: 'N/A',
  Writer: 'Scott Fellows',
  Actors: 'James Arnold Taylor, Maryke Hendrikse, Lee Tockar, Ashleigh Ball',
  Plot: 'The adventures of average suburban boy Johnny Test, who wittingly plays test subject for his genius twin sisters\' various experiments, reluctantly fighting evil villains in the process.',
  Language: 'English',
  Country: 'USA, Canada',
  Awards: '1 win & 5 nominations.',
  Poster: 'http://ia.media- -->
