<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<div>
    <h1><%= data.Title %></h1>
    <img src="<%= data.Poster%>" alt="Movie Poster">
    <h3>Director: <%= data.Director %></h3>
    <h3>Plot: <%= data.Plot %></h3>
    <% if (data.Ratings[1]) { %>
        <h3>Rotten Tomtatoes Rating: <%= data.Ratings[1].Value %></h3>
    <% } %>
</div>
