<h2><%= result.Title %></h2>
<img src="<%= result.Poster %>" alt="a picture of the movie">
<p><b><%= result.imdbID %></b></p>
<p><%= result.Genre %></p>
<p><%= result.Release %></p>
<p><%= result.Director %></p>
<p><%= result.Plot %></p>
