<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h1 style="text-align: center;"><%= movie.Title %></h1>

<div style="margin: 0 auto; text-align: center;">

    <img style="width: 400px;" src="<%= movie.Poster %>" alt="">
    <p><span style="font-size: 18px; font-weight: bold;">Year: </span><%= movie.Year %></p>
    <p><span style="font-size: 18px; font-weight: bold;">Genre: </span><%= movie.Genre %></p>
    <p><span style="font-size: 18px; font-weight: bold;">Directed By: : </span><%= movie.Director %></p>
    <p><span style="font-size: 18px; font-weight: bold;">Runtime: </span><%= movie.Runtime %></p>
    <p><span style="font-size: 18px; font-weight: bold;">IMDB Rating: </span><%= movie.imdbRating %></p>

    <!-- Find if it has Rotten Tomatoes scores -->
    <% for( let i = 0; i < movie.Ratings.length; i++ ) { %>
    
        <% if (movie.Ratings[i].Source === 'Rotten Tomatoes') { %>
        
            <p><span style="font-size: 18px; font-weight: bold;">Rotten Tomato Score: </span><%= movie.Ratings[1].Value %></p>

            <% break %> 
        <% } %>
    <% } %>

    <p style="text-align: center;"><span style="font-size: 18px; font-weight: bold;">Plot: </span><%= movie.Plot %></p>


    <!-- Form for add movie to faves -->
    <form action="/faves" method="POST">
        <input type="hidden" name="title" value="<%= movie.Title %>">
        <input type="hidden" name="imdbid" value="<%= movie.imdbID %>">
        <input type="submit" value="Add to Favorites">
    </form>

</div>