<ul>
    <li><%= movieData.Title %></li>
    <li><%= movieData.Released %></li>
    <li><%= movieData.Director %></li>
    <li><%= movieData.Genre %></li>
    <li><%= movieData.Plot %></li>
    <li><%= movieData.Ratings[0].Source %> Rating: <%= movieData.Ratings[0].Value %></li>
    <img src=<%= movieData.Poster %> style="width:300px">
  </ul>