<h1> <%= q.Title %> </h1>
<img src="<%= q.Poster %>" style="width: 300px">

<p><strong>Year:</strong> <%= q.Year %> </p>
<p><strong>Rated:</strong> <%= q.Rated %> </p>
<p><strong>Released:</strong> <%= q.Released %> </p>
<p><strong>Runtime:</strong> <%= q.Runtime %> </p>
<p><strong>Genre:</strong> <%= q.Genre %> </p>
<p>Director: <%= q.Director %> </p>
<p>Writers: <%= q.Writer %> </p>
<p>Cast: <%= q.Actors %> </p>
<p>Plot: <%= q.Plot %> </p>
<p>Language: <%= q.Language %> </p>
<p>Country: <%= q.Country %> </p>
<p>Awards: <%= q.Awards %> </p>
<p>imdbRating: <%= q.imdbRating %> </p>
<p>imdbVotes: <%= q.imdbVotes %> </p>
<p>DVD release: <%= q.DVD %> </p>
<p>Box Office: <%= q.BoxOffice %> </p>
<p>Production: <%= q.Production %> </p>
