<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h2>Movie details for : </h2>
<h1> <%=results.Title %> </h1>
<img src="<%= results.Poster%>"/>

<div>
<% for(const index in results){ %>
    <%if(index === 'Ratings'){%>
        <h3>Ratings: ➡️</h3>
        <%rates.forEach(inside => {%>
        <h3><%=inside.Source%>:</h3>
        <p><%=inside.Value  %>|</p>
        <%}) %>
<%} else{%>
   <h3><%=index%>:</h3>
   <p><%=results[index] %></p></br>
<%}%>
 
<% } %>
</div>

