<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
  <li><%= details.Title %></li>
  <li><%= details.Released %></li>
  <li><%= details.Director %></li>
  <li><%= details.Genre %></li>
  <li><%= details.Plot %></li>
  <li><%= details.Ratings[0].Source %> Rating: <%= details.Ratings[0].Value %></li>
  <img src=<%= details.Poster %> style="width:300px">

</ul>