<h2>IMDB</h2>
    <div>
        <h1><%= data.Title%></h1>
        <img src="<%=data.Poster%>" alt="<%=data.Title  %> Poster">
        <p><%= data.Plot %> </p>
        <p><%= data.Director %> </p>
        <p><%= data.Writer %> </p>
        <p><%= data.Actors %> </p>
        <p><%= data.Awards %> </p>
    </div>



