<h1><%= results.Title %></h1>
<h3><%= results.Released %></h3>
<h4><%= results.Genre %></h4>
<h4><%= results.Actors %></h4>
<h4><%= results.Plot %></h4>
<h4><%= results.Awards %></h4>
<img src="<%= results.Poster %>" alt="">
