<h2><%= movies.Title %></h2>
<h3><%= movies.Year %></h3>
<h3><%= movies.Rated %></h3>
<h3><%= movies.Released %></h3>
<h3><%= movies.Genre %></h3>
<h3><%= movies.Director %></h3>
<h3><%= movies.Plot %></h3>
