<form action="/faves" method="POST">
<input type="submit" value="add to favorites">
<input type="hidden" name="title" value="<%= movie.Title %>">
<input type="hidden" name="imdbid" value="<%= movie.imdbID %>">

</form>


<h2>
    <%= movie.Title %>
</h2>

<ul>
    <li>
        <%= movie.Genre %>
        <%= movie.Year %>
        <%= movie.Actors %>
    </li>
</ul>




<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
