<% // Render individual movie details here %>
<h1>Here are the details of the movie</h1>
<h3>Title: <%=movie.Title%></h3>
<h3>Year: <%=movie.Year%></h3>
<h3>Rated: <%=movie.Rated%></h3>
<h3>Runtime: <%=movie.Runtime%></h3>
<h3>Genre: <%=movie.Genre%></h3>
<h3>Director: <%=movie.Director%></h3>
<h3>Writer: <%=movie.Writer%></h3>
<h3>Metascore: <%=movie.Metascore%></h3>
<h3>BoxOffice: <%=movie.BoxOffice%></h3>
<h3>Plot: <%=movie.Plot%></h3>
<h3>IMDB Rating: <%=movie.imdbRating%></h3>

<%let rating = ""%>
<%let movieNum = parseInt(movie.imdbRating)%>
<%if(movieNum < 2){%>
    <%rating = "⭐"%>
<%} else if (movieNum >=2 && movieNum < 4){%>
        <% rating = "⭐⭐"%>
        <%} else if (movieNum >=4 && movieNum <6){%>
            <%rating = "⭐⭐⭐"%>
            <%} else if (movieNum >=6 && movieNum <8){%>
                <%rating = "⭐⭐⭐⭐"%>
                <%} else {%>
                    <%rating = "⭐⭐⭐⭐⭐"%>
                    <%}%>

<h3>IMDB Star Rating: <%=rating%></h3>
<% // This is how to do comments in EJS, by the way... %>
