<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h4><%= response.Title %></h4>

<p>Year: <%= response.Year %></p>

<p>Rated: <%= response.Rated %></p>

<p>Released: <%= response.Released %></p>

<p>Runtime: <%= response.Runtime %></p>

<p>IMDB Rating: <%= response.imdbRating %></p>
