<div>
    <img src="<%= movieDetails.Poster%>" alt="poster">
    <h2>Title: <%= movieDetails.Title %> </h2>
    <h2>Year: <%= movieDetails.Year %> </h2>
    <h2>Runtime: <%= movieDetails.Runtime %> </h2>
    <h2>Director: <%= movieDetails.Director %> </h2>
    <h2>Actors: <%= movieDetails.Actors%> </h2>
    <p>Plot: <%= movieDetails.Plot %> </p>
</div>
