
<h1>Details for <%= data.Title %></h1>
<ul>
<% data.Ratings.forEach(rating =>{ %>
    <li><%= rating.Source %>: <%= rating.Value %></li>
<%})%>
</ul>
<img src="<%= data.Poster %>" alt="<%=data.Title%> poster">
<ul>
    <li>Year: <%= data.Year %></li>
    <li>Released: <%= data.Released %></li>
    <li>Director: <%= data.Director %></li>
    <li>Actors: <%= data.Actors %></li>
    <li>BoxOffice: <%= data.BoxOffice %></li>
    <li>Plot: <%= data.Plot %></li>
</ul>
