<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<div>
    <img src="<%= movie.Poster %>" alt="">
    <h4><%= movie.Title %> </h4>
    <p><%= movie.Actors%></p>

    <form method="post" action="/faves">
        <input type="hidden"  name="title" value="<%= movie.Title %>">
        <input type="hidden"  name="imdbid" value="<%= movie.imdbID %>">
        <input type="submit" value="Favorite">
    </form>
</div>