<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h1 id="title"><%=data.Title %> </h1>
<p><img src="<%=data.Poster%>" ><p>
<p>Year: &nbsp;<%=data.Year%><br></p>
<p>Director: &nbsp;<%=data.Director%><p>
<div><%=data.Plot%></div>
<h2>IMDB RATING<br><%=data.imdbRating%></h2>


