<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h1><%=  movie.Title %></h1>
<p><%=  movie.Year %></p>
<h4><%=  movie.Rated %></h4>
<h6><%=  movie.Genre %></h6>
<p><%=  movie.Director %></p>

<img src="<%= movie.Poster %>" />

<form method="POST" action="/faves">
  <input value="<%= movie.Title %>" name="title" />
  <input value="<%= movie.imdbID %>" name="imdbId" />

  <input type="submit" value="fave this movie" />
</form>