<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h3><%= movie.Title %></h3>
<img src=" <%= movie.Poster %> ">

<ul>
    <li>Release Year: <%= movie.Year %></li>
    <li>Movie Rating: <%= movie.Rated %></li>
    <li>Release Date: <%= movie.Released %></li>
    <li>Runtime: <%= movie.Runtime %></li>
    <li>Director/s: <%= movie.Director %></li>
    <li>Writer/s: <%= movie.Writer %></li>
    <li>Actors: <%= movie.Actors %></li>
    <li>Plot Summary:<%= movie.Plot %></li>
    <li>Language: <%= movie.Language %></li>
    <li>Country: <%= movie.Country %></li>
    <li>Awards: <%= movie.Awards %></li>
</ul>

<p style='text-align: center'>Imdb Rating: <%= movie.imdbRating %></p>

<div style='text-align: center'>
<% let x = 10 %>
<% for (let i = 0; i < parseFloat(movie.imdbRating); i ++) { %>
    <img width='30px' src ='../img/yellowStar.png'>
    <% x = x - 1 %>
<% } %>

<% for (let i = 0; i < x; i ++) { %>
    <img width='30px' src='../img/emptyStar.png'>
<% } %>
</div>