<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>
    <a href="/movies/<%= imdbID %>">
        <%= title %>
    </a>
</h1>
<h3>
    <%= year %>
</h3>
<p>
    <%= plot %>
</p>
<img src="<%= poster %>" alt="movie poster">