<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<% if (movie.Poster === 'N/A') { %>
    <p>Poster not available</p>
<%} else { %>
    <img src="<%= movie.Poster %>" alt="<%= movie.Title %> Poster Image"/>

<% } %>
<hr>
<!-- form to create a new fave -->
<form method="POST" action="/faves">
    <input hidden value="<%=movie.Title%>" name="title"/>
    <input hidden value="<%=movie.imdbID%>" name="imdbid"/>
    <button type="submit">FAVE this movie!</button>
</form >
<hr>
<ul>
    <li><span class='category'>Title:</span> <%= movie.Title %>  </li>
    <li><span class='category'>Year: </span><%= movie.Year %>  </li>
    <li><span class='category'>Rated: </span><%= movie.Rated %>  </li>
    <li><span class='category'>Released: </span><%= movie.Released %>  </li>
    <li><span class='category'>Runtime: </span><%= movie.Runtime %>  </li>
    <li><span class='category'>Genre: </span><%= movie.Genre %>  </li>
    <li><span class='category'>Director: </span><%= movie.Director %>  </li>
    <li><span class='category'>Writer: </span><%= movie.Writer %>  </li>
    <li><span class='category'>Actors: </span><%= movie.Actors %>  </li>
    <li><span class='category'>Plot: </span><%= movie.Plot %>  </li>
    <li><span class='category'>Awards: </span><%= movie.Awards %>  </li>
    <li><span class='category'>Box Office: </span><%= movie.BoxOffice %>  </li>
    <li><span class='category'>IMDB Rating: </span><%= movie.imdbRating %>  </li>
    <li class='category'id="stars">
        <% for (let i=0;i<=Number(movie.imdbRating);i++) { %> 
             <span class="fa fa-star checked"></span>
            <% } %> 
        <% for (let i=10;i>=Number(movie.imdbRating);i--) { %> 
            <span class="fa fa-star"></span>
            <% } %> 
    </li>
    <% movie.Ratings.forEach(rating => {     
         if (rating.Source==='Rotten Tomatoes') {  %> 
            <li><span class='category'>Rotten Tomatoes Score:</span> <%=  rating.Value %></li>
            <% } %>
        <% }) %>
  
            
        
    </li>
</ul>