<% // Render individual movie details here %>
<h1><%= data.Title %> (<%= data.Year %>)</h1>
<h4><%= data.Genre %></h4>
<div class="ratings">
    <div class="container">
        <div class="value">
            <%= data.Ratings[0].Value %>
        </div>
        <div class="source">
            <%= data.Ratings[0].Source %>
        </div>
    </div>
    <div class="container">
        <div class="value">
            <%= data.Ratings[1].Value %>
        </div>
        <div class="source">
            <%= data.Ratings[1].Source %>
        </div>
    </div>
</div>
<img src="<%= data.Poster %> " alt="Movie poster">
<h4>Starring: <%= data.Actors %></h4>


<p class="synopsis">Synopsis: <%= data.Plot %></p>
