<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>
    <a href="/movies/<%= imdbID %>">
        <%= title %>
    </a>
</h1>
<h3>
    <%= year %>
</h3>
<p>
    <%= plot %>
</p>
<img src="<%= poster %>" alt="movie poster">
<form method="POST" action="/faves/addFave">
    <input hidden type="text" name="title" value='<%= title %>'>
    <input hidden type="text" name="imdbId" value='<%= imdbID %>'>
    <button type="submit">Add to Favorites</button>
</form>