<% // Render your movie details  here %>
<% // This is how to do comments in EJS, by the way... %>
<link rel="stylesheet" href="../css/detail.css">
<container id="container-detail">
    <h4 class="title"><%= id.Title %></h4>
    <img class="detail-poster"src="<%= id.Poster %>" alt="">
    <p>Year: <%= id.Year %></p>
    <p>Rated: <%= id.Rated %></p>
    <p>Released: <%= id.Released %></p>
    <p>Runtime: <%= id.Runtime %></p>
    <p>Genre: <%= id.Genre %></p>
    <p>Director: <%= id.Director %></p>
    <p>Writers: <%= id.Writer %></p>
    <p>Actors: <%= id.Actors %></p>
    <p>Plot: <%= id.Plot %></p>
    <p>Ratings: <% for( let i = 1; i < 2; i++ ) { %>
        <p> <%= id.Ratings[0].Source %>:  <%=id.Ratings[0].Value %></p>
        <p> <%= id.Ratings[1].Source %>:  <%=id.Ratings[1].Value %></p>
        <p> <%= id.Ratings[2].Source %>:  <%=id.Ratings[2].Value %></p>
        <% } %></p>
    <p>Language: <%= id.Language %></p>
    <p>Country: <%= id.Country %></p>
    <p>Awards: <%= id.Awards %></p>
    <p>Box Office: <%= id.BoxOffice %></p>
    <p>imdbID: <%= id.imdbID %></p>
</container>