<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<div style="margin: 0 auto; text-align: center;">

    <img style="width: 400px;" src="<%= movie_details.Poster %>" alt="">

    <h2 style="text-align: center;"><%= movie_details.Title %></h2>
    <h2 style="text-align: center;">Release Year: <%= movie_details.Year %></h2>
    <h2 style="text-align: center;">Genre: <%= movie_details.Genre %></h2>
    <h2 style="text-align: center;">Directed By: <%= movie_details.Director %></h2>
    <p style="text-align: center;"><span style="font-size: 18px; font-weight: bold;">Plot: </span><%= movie_details.Plot %></p>


</div>