<h2><%= movie.Title %> (<%= movie.Year %>)</h2>
<img src="<%= movie.Poster %>">
<h3>Genre: <%= movie.Genre %></h3>
<h3>Rated: <%= movie.Rated %> &emsp; Runtime: <%= movie.Runtime %> </h3>

<p><%= movie.Plot %></p>

<h3>Director: <%= movie.Director %> &emsp; Writer: <%= movie.Writer %></h3>
<h3>Actors: <%= movie.Actors %></h3>
<h5>Productions: <%= movie.Production %> &emsp; Released: <%= movie.Released %></h5>
<% //"Language":"English","Country":"USA","Awards":"Won 6 Oscars. Another 52 wins & 28 nominations.","Ratings":[{"Source":"Internet Movie Database","Value":"8.6/10"},{"Source":"Rotten Tomatoes","Value":"92%"},{"Source":"Metacritic","Value":"90/100"}],"Metascore":"90","imdbRating":"8.6","imdbVotes":"1,199,294","Production":"20th Century Fox","Website":"N/A","Response":"True" %> 