<h1>Details</h1>
<h2>(<%= result.Year %>)<%= result.Title %></h2>
<img src="<%= result.Poster %>" />
<h4>Rated: <%= result.Rated %></h4>
<h4>Released: <%= result.Released %></h4>
<h4>Runtime: <%= result.Runtime %></h4>
<h4>Genre: <%= result.Genre %></h4>
<h4>Director: <%= result.Director %></h4>
<h4>Writer: <%= result.Writer %></h4>
<h4>Actors: <%= result.Actors %></h4>
<h4>Plot: <%= result.Plot %></h4>
<h4>Language: <%= result.Language %></h4>
<h4>Country: <%= result.Country %></h4>
<h4>Awards: <%= result.Awards %></h4>
