<% const { Title, Runtime, Director, Actors, Plot, Poster } = movieDetails %>

<img src="<%= Poster %>" alt="<%= Title %>" />
<h2><%= Title %></h2>
<p>Runtime: <%= Runtime %></p>
<p>Director/s: <%= Director %></p>
<p>Actors: <%= Actors %></p>
<p>Plot: <%= Plot %></p>
