<% // Render individual movie details here %>
  <p>
    Title: <%= details.Title %>
  </p>
  <p>
    Year: <%= details.Year %>
  </p>
  <p>
    Rated: <%= details.Rated %>
  </p>
  <p>
    Released: <%= details.Released %>
  </p>
  <p>
    Runtime: <%= details.Runtime %>
  </p>
  <p>
    Genre: <%= details.Genre %>
  </p>
  <p>
    Director: <%= details.Director %>
  </p>
  <p>
    Writer: <%= details.Writer %>
  </p>
  <p>
    Actors: <%= details.Actors %>
  </p>
  <p>
    Plot: <%= details.Plot %>
  </p>
  <p>
    enormous: <%= details.enormous %>
  </p>
  <p>
    Language: <%= details.Language %>
  </p>
  <p>
    Country: <%= details.Country %>
  </p>
  <p>
    Awards: <%= details.Awards %>
  </p>
  <p>

    Poster: <img src='<%=details.Poster%>' />
  </p>
  <p>
    Metascore: <%= details.Metascore %>
  </p>
  <p>
    imdbRating: <%= details.imdbRating %>
  </p>
  <p>
    imdbVotes: <%= details.imdbVotes %>
  </p>
  <p>
    imdbID: <%= details.imdbID %>
  </p>
  <p>
    Type: <%= details.Type %>
  </p>
  <p>
    DVD: <%= details.DVD %>
  </p>
  <p>
    BoxOffice: <%= details.BoxOffice %>
  </p>
  <p>
    Production: <%= details.Production %>
  </p>
  <p>
    Website: <%= details.Website %>
  </p>
  <% // This is how to do comments in EJS, by the way... %>