<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>APIs and Express</title>
    </head>
    <body>
      <h1>Here is information about your movie</h1>
      <ul>
        <li><%= movie.Title %></li>
        <li><img src="<%= movie.Poster %>"></li>
        <li><%= movie.Year %></li>
        <li><%= movie.Rated %></li>
        <li><%= movie.Released %></li>
        <li><%= movie.Runtime %></li>
        <li><%= movie.Genre %></li>
        <li><%= movie.Director %></li>
        <li><%= movie.Writer %></li>
        <li><%= movie.Actors %></li>
        <li><%= movie.Plot %></li>
        <li><%= movie.Language %></li>
        <li><%= movie.Country %></li>
        <li><%= movie.Awards %></li>
      </ul>
    </body>
  </html>
