<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h1> The movie you picked <%=moviesId.Title%></h1>
<img src="<%=moviesId.Poster%>" />
<h2> Details about the movie:</h2>
<p>Year it released: <%=moviesId.Year%></p>
<p>Rated: <%=moviesId.Rated%></p>
<p>Runtime: <%=moviesId.Runtime%></p>
<p>Genre: <%=moviesId.Genre%></p>
<p>Director: <%=moviesId.Director%></p>
<p>Writer: <%=moviesId.Writer%></p>
<p>Actors:<%=moviesId.Actors%></p>
