<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<div>
    <ul>
        <li>
            Title: <%= Title %>
        </li>
        <li>
            Year: <%= Year %>
        </li>
        <li>
            Rated: <%= Rated %>
        </li>
        <li>
            Released: <%= Released %>
        </li>
        <li>
            Runtime: <%= Runtime %>
        </li>
        <li>
            Genre: <%= Genre %>
        </li>
        <li>
            Director: <%= Director %>
        </li>
        <li>
            Writer: <%= Writer %>
        </li>
        <li>
            Actors: <%= Actors %>
        </li>
        <li>
            Plot: <%= Plot %>
        </li>
        <li>
            Language: <%= Language %>
        </li>
        <li>
            Country: <%= Country %>
        </li>
        <li>
            Awards: <%= Awards %>
        </li>
        <li>
            Poster: <%= Poster %>
        </li>
        <li>
            Ratings: <%= Ratings %>
        </li>
        <li>
            Metascore: <%= Metascore %>
        </li>
        <li>
            imdbRating: <%= imdbRating %>
        </li>
        <li>
            imdbVotes: <%= imdbVotes %>
        </li>
        <li>
            imdbID: <%= imdbID %>
        </li>
        <li>
            Type: <%= Type %>
        </li>
        <li>
            DVD: <%= DVD %>
        </li>
        <li>
            BoxOffice: <%= BoxOffice %>
        </li>
        <li>
            Production: <%= Production %>
        </li>
        <li>
            Website: <%= Website %>
        </li>
        <li>
            Response: <%= Response %>
        </li>
    </ul>
    
</div>