<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h2>Details</h2>
<img src='<%= data.Poster %>' />
<p><%= data.Title %></p>
<p>Year: <%= data.Title %></p>
<p>Genres: <%= data.Genre %></p>
<form action='/faves' method='POST'>
    <input type='hidden' id='imdbid' value='<%= data.imdbID %>' name='imdbid'>
    <input type='hidden' id='title' value='<%= data.Title %>' name='title'>
    <button type='submit'>Add to Favs</button>
</form>