<h1><%=movieDetails.Title %></h1>
<img src="<%=movieDetails.Poster%>" alt="movie-poster">
<h2><%= movieDetails.Genre %></h2>
<h3> <%= movieDetails.Year%></h3>
<h4> <%= movieDetails.Actors%></h4>
<h5> <%= movieDetails.Plot%></h5>