
<h2> <%= myMovie.Year %> <%= myMovie.Title %> </h2>
<p> Genre:  <%= myMovie.Genre %></p>
<p> Plot: <%= myMovie.Plot %></p> 
<p> Tomatoe Rating: <%= myMovie.tomatoRating %></p>
<img src="<%= myMovie.Poster %>" />
