<%movies.forEach(function(movie){%>
  <a href="/movies/<%=movie.omdbid%>"><h2><%=movie.title%></h2></a>
  <form method="post" action="/movies/<%=movie.omdbid%>" >
      <input type="hidden" name="title" value="<%= movie.Title%>">
      <input type="hidden" name="favoriteId" value="<%= movie.id%>">
      <input type="text" name="comment">
      <button>comments</button>
    </form>
<%})%>

