<% include ../partials/header.ejs%> 

<% favorite.forEach(function(data, index){ %>
	<a href="movies/<%= data.imdbId %>">Go to Movie</a>
	<h1> <%= data.imdbId %> </h1>
	<h1> <%= data.title %> </h1>
	<h1> <%= data.year %> </h1>	
<!-- 	<p><a href="/tacos/<%= index %> "> Delete </a></p> -->
<% }); %>
<% include ../partials/footer.ejs%> 