<div class='text-center'>
  <h2>
    <%= results.Year %> <%= results.Title %>
  </h2>
    <img src="<%= results.Poster %>">
    <h4>Genre: <%= results.Genre %> </h4>
    <p class="plot">Plot: <%= results.Plot %></p>
    <p>Actors: <%= results.Actors %></p>
</div>
<div id="returnLink" class="text-center">
  <a href="/">Return to search page</a>
</div>
