<h2>
	<%= results.Title %> <%= results.Year %> <%= results.imdbID %>
</h2>
<img src="<%= results.Poster %>">
<h3>IMDB Rating: <%= results.imdbRating %></h3>
<h3>Genre: <%= results.Genre %></h3>
<h3>Actors: <%= results.Actors %></h3>
<h3>Plot: <%= results.Plot %></h3>
