<!DOCTYPE html>
<html>
<head>
  <title>Movie Details</title>
</head>

<body>

  <img src = "<%= movie.Poster %>">

    <h3>
       <%= movie.Title %> ( <%= movie.Year %> )
    </h3>

      <p>IMDB Rating: <%= movie.imdbRating %> </p>
      <p>Director: <%= movie.Director %> </p>
      <p>Rated: <%= movie.Rated %></p>
      <p>Plot: <%= movie.Plot %> </p>

</body>
</html>

