<div class='container text-center'>
	<div class='well movies'>
		<h1>Title:</h1>
	 	<h3><%= movieData.Title %></h3>
		<h1>Plot:</h1>
		<h3><%= movieData.Plot %></h3>
	</div>
	<form action="/favorites" method="POST" role="form">
		<div class="form-group">
			<input type="hidden" id="imdbID" name="imdbID" value= "<%= movieData.imdbID %>">
			<input type="hidden" id="title" name="title" value= "<%= movieData.Title %>">
			<input type="hidden" id="year" name="year" value= "<%= movieData.Year %>">
		<button type="submit" class="btn btn-primary favorite">Add to Favorites</button>
	</form>
	
</div>

