
<h1><%= movie.Title %>
	<small><%= movie.Year %></small>
</h1>

<p><%= movie.Plot %></p>

<p>imdb Rating: <%= Math.floor(movie.imdbRating) %> </p>

<p>Rotten Tomato Rating: <%= movie.tomatoRating %> </p>
	
