
<html>
<body>
<div style="width: 200px; height: auto;"> 

<img src = "<%= movie.Poster %>">

</div>
<h3>
  ( <%= movie.Year %> ) <%= movie.Title %>
</h3>
<p><%= movie.tomatoConsensus %></p>
<p><%= movie.Plot %></p>
</body>
</html>