<div class="container">
	<img src="omdb-search-logo.jpg" class="img-responsive" style="width:300px;">
	<p><small>About <%= movies.length %> results (0.63 seconds)</small></p>
	<a href="<%= '/' %>" class="btn btn-primary">&larr; Back to Search</a>
	<br><br>

	<% movies.forEach(function(movie) { %>
	<div class="well">
	  <h2>
	  	<a href="/movies/<%= movie.imdbID %>/?q=<%= q %>"><%= movie.Title %></a>
	  	<button class="btn btn-success add-favorite-btn pull-right"><span class="glyphicon glyphicon-plus"></span> Add to Favorites</button>
	  </h2>
	  <img src="<%= movie.Poster %>">
	</div>
	<% }); %>

</div>