<div class="col-sm-6">
  <h3 class="title"> <%= movie.Title%> </h3> <h4> (<%= movie.Year %>) </h4> 

   <button type="button" id="favorite-btn" data-imdbId="<%= movie.imdbID %>" class="btn btn-success">+ Favorites</button>


    <h4>Plot:</h4><p><%= movie.Plot %></p>
    <h4>Awards/Nominations:</h4><p><%= movie.Awards %></p>
    <div class="form-group">
      <form method="POST" action="/favorites/<%= movie.imdbID %>/comments">
        <input name="author" placeholder="Pseudonym" id="author"> </br>
        Content: <textarea name="content" class="form-control" rows="3"></textarea>
      <input class="btn btn-primary" type="submit" value="+ Comment">
    </form>
  </div>
</div>


<div class="col-sm-6">
  <img src="<%= movie.Poster %>"> 
</div> 

