<h2><%= results.Title %>(<%= results.Year %>)</h2>
<img src=<%= results.Poster %> >
<p><%= results.Rated %> | <%= results.Runtime%> | <%= results.Genre %> </p>
<p><%= results.imdbRating %>/10</p>
<p><%= results.Plot %></p>
<p>Director: <%= results.Director %></p>
<p>Awards: <%= results.Awards %></p>
