<% include ../partials/header.ejs%> 
	<a href="/" class="backBTN container">BACK</a>
		<% movies.forEach(function(movie, idx){ %>
			<div class="container">
				<div class="well">
					<a href="movies/<%= movie.imdbID %>">
						<h1> Title: <%= movie.Title %> </h1>
					</a>
					<p>  Year: <%= movie.Year %> </p>
					<p> ID: <%= movie.imdbID %> </p>
					<p> Poster URL: <%= movie.Poster %> </p>

				

					<form action="/favorites/<%= movie.imdbID %>" method="POST" role="form">
						<!-- <label for="favorite"></label> -->
						<input type="text" id="imdbID" name="imdbID" value="<%= movie.imdbID %>">
						<input type="text" id="Title" name="Title" value="<%= movie.Title %>">
						<input type="text" id="Year" name="Year" value="<%= movie.Year %>">
						<!-- <input type="radio" id="type" name="type" ></input> -->
						<button type="submit">Submit to Favorites</button>
					</form>

				</div>
			</div>

	<% }) %> 

<% include ../partials/footer.ejs%> 