<nav>
    <div class="nav-wrapper red lighten-1">
        <a href="#" class="brand-logo">Movie Search</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/favorites">Favorites</a></li>
          <li><a href="#">#</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron blackText">
  <h1><%= movieResult.Title %></h1>
  <p><strong>Year</strong> - <%= movieResult.Year %>, <strong>Rated</strong> <%= movieResult.Rated %><br>
     <strong>Released</strong> - <%= movieResult.Released %><br>
     <strong>Runtime</strong> - <%= movieResult.Runtime %><br><strong>Genre</strong> - <%= movieResult.Genre %><br>
     <strong>Director</strong> - <%= movieResult.Director %> <br><strong>Writer</strong> - <%= movieResult.Writer %><br>
     <strong>Actors</strong> - <%= movieResult.Actors %><br><strong>Plot</strong> - <%= movieResult.Plot %><br>
     <strong>Awards</strong> - <%= movieResult.Awards %><br><strong></strong><br>
     <strong>Metascore</strong> - <%= movieResult.Metascore %>
     <input id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="lg" >
  <form action="/favorites" method="POST">
    <input type="hidden" name="title" value="<%= movieResult.Title %>" />
    <input type="hidden" name="imdbID" value="<%= movieResult.imdbID %>" />
    <input type="hidden" name="year" value="<%= movieResult.Year %>" />
    <button class="btn red lighten-1">Add to Favorites</button>
  </form>
</div>

