<div class='text-center'>
	<a class='btn btn-success' href='/'>Home</a>
</div>
<h1>
<%= result.Title %>
</h1>
<h3>
<strong>Year:</strong> <%= result.Year %>
<br>
<strong>Rating:</strong> <%= result.imdbRating %>
</h3>
<p></p>
<%= result.Director %>
<%= result.Plot %>
</p>



<img src="<%= result.Poster %>">

