
<h2><%= movies.Title %></h2><br>
<p><%= movies.Year%><br>
	<%= movies.Rated%><br>
	<%= movies.Released%><br>
	<%= movies.Genre%><br>
	<%= movies.Actors%><br>
	<%= movies.Plot%><br>
	<%= movies.Awards%><br>

</p>
	<a href="/movies/<%= movies.imdbID%>"><img src="<%=movies.Poster %>"></a>
<hr>