<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= movie.Title %> </title>
  </head>

  <body>
    <ul>
      <li> Title: <%= movie.Title %>  </li>
      <li> Year: <%= movie.Year %>  </li>
      <li> Rated: <%= movie.Rated %>  </li>
      <li> Relased: <%= movie.Released %>  </li>
      <li> Genre: <%= movie.Genre %>  </li>
      <li> Director: <%= movie.Director %>  </li>
      <li> Writer: <%= movie.Writer %>  </li>
      <li> Actors: <%= movie.Actors %>  </li>
      <li> Plot <%= movie.Plot %>  </li>
      <li> Language: <%= movie.Language %>  </li>
      <li> Country: <%= movie.Country %>  </li>
      <li> Awards: <%= movie.Awards %>  </li>
    </ul>

  </body>
</html>
