<div class="text-center">
<h1 style="font-size: 75px"><%= movieInfo.Title %></h1>
<img src="<%= movieInfo.Poster %>">
<h4>Year: <%= movieInfo.Year %></h4>
<h4>Rated: <%= movieInfo.Rated %></h4>
<h4>Release: <%= movieInfo.Released %></h4>
<h4>Runtime: <%= movieInfo.Runtime %></h4>
<h4>Genre: <%= movieInfo.Genre %></h4>
<h4>Director: <%= movieInfo.Director %></h4>
<h4>Writer: <%= movieInfo.Writer %></h4>
<h4>Actors: <%= movieInfo.Actors %></h4>
<h4>Plot: <%= movieInfo.Plot %></h4>
<h4>Language: <%= movieInfo.Language %></h4>
<h4>Country: <%= movieInfo.Country %></h4>
<h4>Nominations: <%= movieInfo.Awards %></h4>
<h4>Rating: <%= movieInfo.imdbRating %></h4>
</div>