<% include ../partials/header.ejs%>
<a href="/" class="backBTN container">BACK</a> 
<div class="container">
	<div class="well">
		<h1> Title: <%= movies.Title %></h1>
	</div>
	<div class="well">
		<h1> Year Released: <%= movies.Year %></h1>
	</div>
	<div class="well">
		<h1> Rated: <%= movies.Rated %></h1>
	</div>
	<div class="well">
		<h1> Released: <%= movies.Released %> </h1>
	</div>
	<div class="well">
		<h1> Runtime: <%= movies.Runtime %> </h1>
	</div>
	<div class="well">
		<h1> Genre: <%= movies.Genre %></h1>
	</div>
	<div class="well">
		<h1> Director: <%= movies.Director %></h1>
	</div>
	<div class="well">
		<h1> Writer <%= movies.Writer %> </h1>
	</div>
	<div class="well">
		<h1> Actors: <%= movies.Actors %></h1>
	</div>
	<div class="well">
		<h1> Plot: <%= movies.Plot %></h1>
	</div>
	<div class="well">
		<h1> Language: <%= movies.Language %> </h1>
	</div>
	<div class="well">
		<h1> Country: <%= movies.Country %> </h1>
	</div>
	<div class="well">
		<h1> Awards: <%= movies.Awards %> </h1>
	</div>
</div>
<% include ../partials/footer.ejs%> 