<h1>Results</h1>
<ul>
    <% result.forEach((e) => { %>
        <li>
            <img src="<%= e.Poster %>"/>
                <div class="list-item">
                    <%=e.Title %>
                </div>
                <div class="list-item">
                    <%=e.Year %>
                </div>
                <div class="list-item">
                    <a href="/movies/<%= e.imdbID %>">
                        <%=e.imdbID %>
                    </a>
                </div>
        </li>
    <% }) %>
</ul>