<img src="<%=img%>" alt="<%= infoPacket.Title %>">
<% for (const property in infoPacket) { %> 
    <div>
        <%=property%>
        <%= infoPacket[property]%> 
    </div>
<% } %>
<a href="/movies/<%= id %>">
    <%= infoPacket.Title %>
</a>