<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>


<!-- total results found -->
<h2>Results found: <%= data.Search.length %><h2>
<% data.Search.forEach(result => { %>
            <a href="/movies/<%= result.imdbID %>">
                <p><%= result.Title %> (<%= result.Year %>)</p>
                <img src="<%= result.Poster %>"<%= result.Title %>">
            </a>
        </span>
<% }) %
// a for each loop that displays the title, year, and poster of each movie in the search results