<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h1> <%= movieResults.Search.length %> Search Results for <%= movieInput %> </h1>

<% movieResults.Search.forEach(result => { %>
    <h3> <%= result.Title %> </h3>
    <a href="/movie/<%=result.imdbID%>" >
        <img src="<%=result.Poster%>" >
    </a>
<% }) %>