<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>

    <% response.forEach(detail=>{%>
        <li> <a href='/movies/<%= detail.imdbID%>'><h2>Movie name is <%= detail.Title %> </h2> </a> </li>
        <ul>
            <li>The Year is <%= detail.Year%></li>
            
            <li>The Type is <%= detail.Type%></li>
            <br>
            <img src="<%= detail.Poster%>">
            <form action="/:<%= detail.Title%>/<%= detail.imdbID%>" method="POST">
                <input type="submit" value="Fave">
            </form>
        </ul>
    <%})%>
</ul>


