<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <title>Movie Results</title>
  </head>
  <body>
    <h1>Hello</h1>
    <div class="row">
      <% movies.forEach(function(movie) { %>
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img class="poster" src="<%= movie.Poster %>">
            </div>
            <div class="card-content">
              <p>Year: <%= movie.Year %> and imdbID: <%= movie.imdbID %></p>
            </div>
            <div class="card-action">
              <a href="/movies/<%= movie.imdbID %>"><%= movie.Title %></a>
            </div>
          </div>
        </div>
      <%});%>
    </div>
  </body>
</html>
