<h1>Results For: <%= title %></h1>

<% films.forEach(film => { %>
    <div>
        <h2><%= film.Title %></h2>

        <p><%= film.Year %></p>

        <% if (film.Poster !== "N/A") { %>
            <img alt="<%= film.Title %>" src="<%= film.Poster %>" />
        <% } else { %>
            <p>no film poster found 😩</p>
        <% } %>
        
        <div>
            <a href="/movies/<%= film.imdbID %>">give me the deets!</a>
        </div>
    </div>
<% }) %>