<% movies.forEach(movie => { %>
    <h1> <%= movie.Title %> </h1>
<dvi>
    <ul>
        <img src="<%= movie.Poster %>"  alt="poster">
        <a href="/detail/<%= movie.imdbID%>">More Info</a>
    </ul>
</dvi>    
<% }) %>

<!-- Anna's Solve below
<h1>
    below making the movie title a link
    <a href="/movies/<%= imdbID %>">
        <%= title >
    </a>
</h1>
<h3><%= year ></h3>
<p><%= plot ></p> -->