
<% searchResults.forEach(element => { %>
    <h3>
      <a href="/movies/<%= element.imdbID %>">
        <%= element.Title %>
      </a>
    </h3>
    <a href="/movies/<%= element.imdbID %>">
      <img src="<%= element.Poster %>" alt="<%= element.Title %>">
    </a>
    <% }); %>
    