<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h1>Search Results for <%= input %>:</h1>
<% movies.forEach(movie => { %>
    <div>

        <h2><%= movie.title %></h2>
        
        <p>Year: <%= movie.year %></p>
        
        <p>Rating: <%= movie.rated %></p>
        
        <p>Runtime: <%= movie.runtime %></p>
        
        <p>Genre: <%= movie.genre %></p>
        
        <p>Director: <%= movie.director %></p>
        
        <p>Writer: <%= movie.writer %></p>
        
        <p>Actors: <%= movie.actors %></p>
        
        <p>Plot: <%= movie.plot %></p>
        

        <!-- send the request back to our server -- we can use axios to get the data and render a template -->
        <a href="/search/homeworld?url=<%= person.homeworld %>">Homeworld</a>

    </div>
<% }) %>