<h1>Results</h1>
<ul id="result-info">
    <% result.forEach((e) => { %>
        <li>
            <div class="list-box">
                <a class="movie-title" href="/movies/<%= e.imdbID %>">
                    <img class="link-image" src="<%= e.Poster %>"/>
                </a>
                <div class="list-item">
                    <a class="movie-link" href="/movies/<%= e.imdbID %>"><%=e.Title %></a>
                </div>
                <div class="list-item">
                    <%=e.Year %>
                </div>
            </div>
        </li>
    <% }) %>
</ul>
