<div class="container">
	<div class = "well">
		<div class='text-center'>
			<form action="/favorites" method="POST">
			<input type="hidden" name="title"	value="<%= movieData.Title%>"/>
			<input type="hidden" name="year"	value="<%= movieData.Year%>"/>
			<input type="hidden" name="imdbID" value="<%= movieData.imdbID%>"/>						
			<button type="submit" class="btn btn-info" id="favorite">Add to Favorites</button>
			</form>
		</div>
		<h4> Movie Title: <%= movieData.Title %></h4>
		<h4> Year: <%=movieData.Year%></h4>
		<h4> Rating: <%=movieData.Rated%></h4>
		<h4> Runtime: <%=movieData.Runtime%></h4>
		<h4> Director: <%=movieData.Director%></h4>
		<h4> Actor: <%=movieData.Actors%></h4>
		<h4> IMDB Rating: </h4>
		 <% for(var i = 1; i <= parseInt(movieData.imdbRating); i++){%>
									<img src="/star.jpeg" width="25" height="25">
									<%};%>

	</div>
	<div class="container text-center">
		<img src="<%= movieData.Poster %> "/>

	</div>