<h1> Search Results </h1>


    <p><%= movie.Title %></p>
    <p><%= movie.Year %> </p>
    <p><%= movie.Runtime %> </p>
    <p><%= movie.Genre %> </p>
    <p><%= movie.Plot %> </p>
    <p><img src="<%= movie.Poster %>"></p>
