<div class="container">
  <div class="row">
  	<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
  		<img class="poster" src="<%= showData.Poster %>">
  	</div>
  	<div class="col-xs-6 col-sm-7 col-md-8 col-lg-8">
  		<h2><%= showData.Title %> <small> (<%= showData.Year %>)</small></h2>

		<ul class="underTitle">
			<li><%= showData.Rated %> |</li>
			<li><%= showData.Runtime %> |</li>
			<li><%= showData.Genre %> |</li>
			<li><%= showData.Released %> (<%= showData.Country %>)</li>
		</ul>

		<p><%= showData.Plot %></p>

		<p><strong>Director:</strong> <%= showData.Director %></p>
		<p><strong>Writer(s):</strong> <%= showData.Writer %></p>
		<p><strong>Stars:</strong> <%= showData.Actors %></p>
		<p><strong>Awards:</strong> <%= showData.Awards %></p>

		<p style="margin-bottom: 0px">
			imbdRating: <%= showData.imdbRating %>/10 (<%= showData.imdbVotes %> votes)
		</p>
		<div style="
			width: <%= (16 * showData.imdbRating) %>px;
			height: 16px;
			background:url('/star_gold_256.png');
			background-size: 16px 16px;
			background-repeat:repeat-x;">
		</div>
			
		<br>

		<p>Metascore: <%= showData.Metascore %>/100</p>
		<div style="
			width: <%= (showData.Metascore * 2) %>px;
			height: 20px;
			float: left;
			margin-top: -10px;
			background-color: black">
			<div style="
				height:20px;
				width:20px;
				float:right;
				color:white;
				text-align: center;
				background-color: <% if(showData.Metascore < 40){ %> #f00 <% }
								else if(showData.Metascore > 60){ %> #6c3 <% }
								else { %> #fc3 <% } %>;">
				<%= showData.Metascore %>
			</div>
		</div>
  	</div>
  </div>
</div>