<h1 class="col-lg-6 offset-3">Title: <%= movie.Title %></h1>
<h3>Year: <%= movie.Year %><h3>
<h4>Genre: <%= movie.Genre %></h4>
<h4>Director: <%= movie.Director %></h4>
<h5>Actors: <%= movie.Actors %></h5>
<h5>Plot: <%= movie.Plot %></h5>
<h4>Rotten Tomatoes's TomatoMeter: <%= movie.tomatoMeter %></h4>

<form action="/favorites" method="POST" role="form">
	<div class="form-group">
		<input type="hidden" name="IMDBcode" value="<%=movie.imdbID %>" />
		<input type="hidden" name="Title" value="<%= movie.Title %>" />
		<input type="hidden" name="Year" value="<%= movie.Year %>" />
	</div>
 	<button type="submit" name="Add to Favorites">Add to Favorites </button>
 </form>