<div class="container">
	<div class = "well">
		<h3> Movie Title: <%= movieData.Title %></h3>
		<h3> Year: <%=movieData.Year%></h3>
		<h3> Rating: <%=movieData.Rated%></h3>
		<h3> Runtime: <%=movieData.Runtime%></h3>
		<h3> Director: <%=movieData.Director%></h3>
		<h3> Actor: <%=movieData.Actors%></h3>
		<h3> IMDB Rating: </h3>
		 <% for(var i = 1; i <= parseInt(movieData.imdbRating); i++){%>
									<img src="/star.jpeg" width="50" height="50">
									<%};%>

	</div>
		<img src="<%= movieData.Poster %> "/>
		<form action="/favorites" method="POST">
			<input type="hidden" name="title"	value="<%= movieData.Title%>"/>
			<input type="hidden" name="year"	value="<%= movieData.Year%>"/>
			<input type="hidden" name="imdbID" value="<%= movieData.imdbID%>"/>						
			<button type="submit" id="favorite">Add to Favorites</button>
		</form>
	</div>