<h1><%= movie.Title %><br>
<small>Released: <%= movie.Year %></small></h1>

<div class="well">
	<p class="lead">Genre: <%= movie.Genre %></p>
	<p class="lead">Director: <%= movie.Director %></p>
	<p class="lead">Starring: <%= movie.Actors %></p>
	<p class="lead">Plot: <%= movie.Plot %></p>
</div>


