<!DOCTYPE html>
<html>
<head>
	<title>Movie</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  	<link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class='container'>
		<h1><%= movies.Title %></h1>
		<p><%= movies.Year %></p>	
		<p><%= movies.Runtime %></p>	
		<p><%= movies.Genre %></p>	
		<p><%= movies.Plot %></p>
		<a href="/">&larr;Home</a>			
	</div>
</body>
</html>