<h1>Title: <%= movie.Title %></h1>
<h3>Year: <%= movie.Year %><h3>
<h4>Genre: <%= movie.Genre %></h4>
<h4>Director: <%= movie.Director %></h4>
<h5>Actors: <%= movie.Actors %></h5>
<h5>Plot: <%= movie.Plot %></h5>
<h4>Rotten Tomatoes's TomatoMeter: <%= movie.tomatoMeter %></h4>