<!DOCTYPE html>
<html>
<head>
  <title>OMBD API APP</title>
</head>
<body>
  <h1><%= movieData.Title %></h1>
  <form>
    <
    <input type="hidden" name="imbdId" value="<%= movieData.imbdID %>">
    <input type="hidden" name="title" value="<%= movieData.imbadID %>">
    <input type="submit" value="Favorite">
  </form>
  <img src="<%= movieData.Poster %>">
  <p><%= movieData.Plot %></p>
</body>
</html>
