<h1> Survey says: </h1>


  <p>Title: <%= movie.Title %></p>
  <p>Year: <%= movie.Year %> </p>
  <p>Director: <%= movie.Director %> </p>
  <p>Runtime: <%= movie.Runtime %> </p>
  <p>Genre: <%= movie.Genre %> </p>
  <p>Plot: <%= movie.Plot %> </p>
  <!--figuring out IMDB-->
  <p>IMDB Rating: <%= movie.imdbRating %></p>
  <p><img src="<%= movie.Poster %>"></p>
  <!-- finding tomatoes -->
  
