<h1><%= favorites.title %></h1>
<img src="<%= favorites.Poster %>">
<div>
  <form method="post" action="/favs/<%= favorites.imdbId%>/tags/">
    <input type="hidden" name="favoriteId" value="<%-favorites.id%>">
    <input type="text" name="tag" placeholder="Your tag here">
    <input type="submit" class="addComment"></input>
  </form>
</div>
  <% favorites.tags.forEach(function(words)  { %>
   <div> <h4><%= words.tag %></h4></div>
  <% }); %>

  <!--does loop over the one hard coded tag-->