<% include ../partials/header.ejs %>
	<h1>Favorites</h1>
	<% favorites.forEach(function(movie) { %>
		<h2> <%= movie.Title %> </h2>
		<p><b>Year:</b> <%= movie.year %></p>
		<p><b>Rated:</b> <%= movie.title %></p>
		<p><b>IMDB Rating:</b> <%= movie.poster %></p>
		<p><b>Plot:</b> <%= movie.imdbId %></p>
	<% }); %>
<% include ../partials/footer.ejs %>