<h1> Survey says: </h1>

  <div class="padding">
    <h3>Title: <%= movie.Title %></h3>
    <form method="post" action="/favs">
      <input type="hidden" name="imdbID" value="<%= movie.imdbID %>">
      <input type="hidden" name="title" value="<%= movie.Title %>">
      <input type="hidden" name="year" value="<%= movie.Year %>">
      <button type="submit" class="addFav">Favorite </button>
    </form>
    <p>Year: <%= movie.Year %> </p>
    <p>Director: <%= movie.Director %> </p>
    <p>Runtime: <%= movie.Runtime %> </p>
    <p>Genre: <%= movie.Genre %> </p>
    <p>Plot: <%= movie.Plot %> </p>
    <!--figuring out IMDB-->id
    <% for (var i = 0; i < movie.imdbRating; i++) {%>
      <img src="/css/assets/star.gif" />
      <% };%>
    <p>IMDB Rating: <%= movie.imdbRating %></p>

    <p><img src="<%= movie.Poster %>"></p>
  </div>
  <!-- finding tomatoes -->
