<div class="col-sm-6">
<!-- <h1>Movie info</h1> -->
  <h2><%= movie.Title%>(<%= movie.Year %>) </h2> 
  <ul>
    <h4>Plot:</h4><p><%= movie.Plot %></p>
    <h5>Awards/Nominations:</h5><p><%= movie.Awards %></p>
  </ul>
</div>
<div class="col-sm-6">
  <img src="<%= movie.Poster %>"> 
</div> 