<!-- views/movies/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    

        
    <h1>Movie search results:</h1>

    <% var movies = JSON.parse(movieDetails) %>
    <% var movieList = movies.Search %>
    <% movieList.forEach(function(movie) { %>
        <div class="well">
            <a href="/movies/<%= movie.imdbID %>"><h4><%= movie.Title %></h4></a>
            <h5><%= movie.Year %></h5>
            <form action="/favorites" method="POST">
                <input type="hidden" name="title" value="<%= movie.Title %>" />
                <input type="hidden" name="imdbID" value="<%= movie.imdbID %>" />
                <input type="hidden" name="year" value="<%= movie.Year %>" />
                <p><a class="btn btn-primary btn-lg" role="button">Add to Favorites</a></p>
            </form>
        </div>
    <%});%>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>