<h2 id="movieTitle" dataImdbId="<%= result.imdbID %>"><%= result.Title %></h2>
<h2 id="movieDate">(<%= result.Year %>)</h2>
<button class="add-favorite-btn">Add to Favorites</button>
<p>Rotten Tomato Rating: <%= result.tomatoRating %></p>
<p>Rating: <%= result.Rated %></p>
<p>Released: <%= result.Released %></p>
<p>Runtime: <%= result.Runtime %></p>
<p>Genre: <%= result.Genre %></p>
<p>Director: <%= result.Director %></p>
<p>Writer: <%= result.Writer %></p>
<p>Actors: <%= result.Actors %></p>
<img src="<%= result.Poster %>" />