<h2><%= movieData.Title %></h2>
<p><img src=' <%= movieData.Poster %>'></p>
<p><%= movieData.Plot %></p>

<form method='POST' action='/favorites'>
  <input type="hidden" name='imdbId' value='<%= movieData.imdbID %>'>
  <input type="hidden" name='imdbId' value='<%= movieData.Title %>'>
  <input type="submit" value="Favorite">
</form>
