<!-- views/movies/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="well">
           <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
            <h3>Title: <%= movieData.Title %> </h3>
            <p>Year: <%= movieData.Year %> </p>
            <p>Rating: <%= movieData.Rated %> </p>
            <p>Release Date: <%= movieData.Released %> </p>
            <p>Runtime: <%= movieData.Runtime %> </p>
            <p>Genre: <%= movieData.Genre %> </p>
            <p>Director: <%= movieData.Dircector %> </p>
            <p>Writer: <%= movieData.Year %> </p>
            <p>Actors: <%= movieData.Actors %> </p>
            <p>Awards: <%= movieData.Awards %> </p>
            <p>Plot: <%= movieData.Plot %> </p>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>