<div>
<h2 id="movieTitle"><%= result.Title %></h2>
<h2 id="movieDate">(<%= result.Year %>)</h2>
<form method="POST" action"/favorites">
<input type="text" class="hidden" value="<%= result.imdbID %>" name="id">
<button type="submit" class="add-favorite-btn">Add to Favorites</button>
</form>
<p>Rotten Tomato Rating: <%= result.tomatoRating %></p>
<p>Rating: <%= result.Rated %></p>
<p>Released: <%= result.Released %></p>
<p>Runtime: <%= result.Runtime %></p>
<p>Genre: <%= result.Genre %></p>
<p>Director: <%= result.Director %></p>
<p>Writer: <%= result.Writer %></p>
<p>Actors: <%= result.Actors %></p>
<img class="displayed" src="<%= result.Poster %>" />
</div>