<% include ../partials/header.ejs %>

<h3><%= movieData.Title %></h3>
<p>Year: <%= movieData.Year %></p>
<p>Runtime: <%= movieData.Runtime %></p>
<p>Genre: <%= movieData.Genre %></p>
<p>Director: <%= movieData.Director %></p>
<p>Year: <%= movieData.Year %></p>
<p>Actors: <%= movieData.Actors %></p>
<p>Awards: <%= movieData.Awards %></p>

<% include ../partials/footer.ejs %>